services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: simutu_ng_app
    env_file:
      - .env
    environment:
      NODE_ENV: production
      PORT: 3000
    ports:
      - "3000:3000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
